body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    height: 72px;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}

.header-title {
    align-items: center;
    justify-content: center;
}

.header img {
    height: 48px;
    width: auto;
}

.header-links {
    display: flex;
    gap: 28px;
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 100%;
    padding: 80px 2rem;
}

.hero-headline-content {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.hero-headline {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
    margin: 14px 0;
}

.button-sign {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    width: 135px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-sign:hover {
    background-color: #2563eb;
    transform: scale(1.05); 
}

.hero-image-container {
  display: flex;
  width: 100%;
  max-width: 680px;
  aspect-ratio: 16 / 9;
  min-height: 180px; 
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    text-align: center;
}

.information-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 50px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 175px;
}

.card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
}

.card-text {
    font-size: 16px;
    color: #6C747C;
    margin-top: 10px;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 80px 0px;
}

.quote-inner-container {
    display: flex;
    flex-direction: column;
    margin: 0 220px;

}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 0;
    margin: 0;

}

.quote-author {
    display: flex;
    font-size: 26px;
    font-weight: bold;
    justify-content: end;
    margin: 20px 20px 0 20px;
    padding: 0;
}

.call-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}

.call-action-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    width: 60%;
    padding: 50px 140px;
}

.call-action-text {
    display: flex;
    flex-direction: column;
}

.call-action-title {
    color: #F9FAF8;
    margin: 8px 0;
}

.call-action-subtext {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.button-sign-action {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border: 2px solid white;
    width: 135px;
    border-radius: 8px;
    padding: 8px 26px;
    cursor: pointer;
    margin: 18px 0;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-sign-action:hover {
    background-color: #2563eb;
    transform: scale(1.05);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 120px;
    background-color: #1F2937;
    color: #F9FAF8;
}